
body{
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}
* {
    font-family: 'Kumbh Sans', sans-serif;
 }

div.main-container{
    display:flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    background-color: white;
}

div.main-header{
    height: 150px;
    background-color: white;
    border: 0.5px solid #023e8a;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 6px 3px #ccc;
}

button.log-out {
    margin: 20px;
    float: right;
    width: 80px;
    height: 32px;
    background-color: #0096c7;
    color: white;
    border-radius: 5px;
}

button, input, select {
    cursor: pointer;
}

div#admin-container{
    display:flex;
    flex-direction: column;
    background-color: white;
}

div.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
}
div.header{
    height: 10%;
    background-color: hotpink;
}
.container{
    height: 100%;
}

div.nav-card{
    border: 0.5px solid #023e8a;
    border-radius: 10px;
    width: 31%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #0096c7;
    color: white;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

/* .nav-card > h3 {
    color: #023e8a;
} */

li.admin-survey-list:hover {
    color: #023e8a;
    font-weight: bold;
    /* font-size: 120%; */
}

div h3{
    text-align: center;
}

div.survey-container{
    min-height: 400px;
    width: 95%;
    margin: auto;
    background-color:white;
    box-shadow: 3px 3px 6px 3px #ccc;
    border: 0.5px solid #023e8a;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}

input, select{
    padding:5px 10px;
}
form {
    align-content: stretch;
    /* align-self: stretch; */
}
div.lookup-container{
    margin-top: 10px;
    text-align: center;
    background-color: #0096c7;
    border: 0.5px solid #023e8a;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 6px 3px #ccc;
}

table.data-table{
    margin: auto;
    width: 100%;
}

div.rating{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    border: 0.5px solid #000;
    box-sizing: border-box;
    background: linear-gradient(to right, #00b4d8, #0077b6, #023e8a);
}

div.rating input{
    display: none;
}

div.rating label{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    color: #000;
    font-size: 20px;
    border-right: 1px solid #000;
}

.rating input[type="radio"]:hover ~ label,
.rating input[type="radio"]:checked ~ label
{
    background: transparent;
}

div.new-survey-btn,div.btn {
    width: 90%;
    margin: auto;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

h1.survey-title {
    margin: auto;
    padding: 10px;
}

[contenteditable = "true"].single-line {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
}
[contenteditable = "true"].single-line br{
    display: none;
}
[contenteditable = "true"].single-line *{
    display: inline;
    white-space: nowrap;
}

[contenteditable = "true"].multi-line {
    height: 60px;
    overflow: scroll;
}
div.form-box{
    width: 85%;
    margin: auto;
    /*border: 1px solid grey;*/
    border-style: inset;
    padding: 10px;
    box-shadow: -5px -5px 10px grey inset;
}

div[contenteditable = "true"].text-box {
    width: 100%;
    /*border: 1px solid #000;*/
    border-style: inset;
    padding: 8px 0px 8px 0px;
}

tr.hidden{
    display:none;
}
tr.visible{
    display: table-row;
}
tbody > tr:hover {
    color: #0096c7;
    font-weight: bold;
}
