div.question-card {
    width: 65%;
    border: 0.5px solid #023e8a;
    margin: auto;
    padding: 30px;
    min-height: 250px;
    box-shadow: 5px 10px 6px 3px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

div.chart-card {
    width: 300px;
    border: 0.5px solid #023e8a;
    margin: auto;
    padding: 30px;
    min-height: 250px;
    box-shadow: 5px 10px 6px 3px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
    
}

.survey-container > h2, h1 {
    text-align: center;
    color: #023e8a;
}

button.load-next {
    color: white;
    height: 25px;
    background-color: #0096c7;
    display: block;
    align-self: flex-end;
    margin-top: 30px;
    margin-right: 20px;
    border: 0.5px solid #023e8a;
    border-radius: 5px;
}

button.btn_cancel, button.btn_submit {
    color: white;
    height: 32px;
    width: 100px;
    margin: 15px;
    background-color: #0096c7;
    border: 0.5px solid #023e8a;
    border-radius: 5px;
}

div.question-card label {
    font-size: 18px;
}

div.question-card textarea, div.question-card select, 
div.question-card input.slider {
    display: block;
    margin: auto;
    width: 290px;
    margin-top: 15px;
}

:root {
    --animate-duration: 400ms;
    --animate-delay: 0.25s;
  }
